<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Semantic CSS, Font Awesome, CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
    integrity="sha256-QVBN0oT74UhpCtEo4Ko+k3sNo+ykJFBBtGduw13V9vw=" crossorigin="anonymous" />    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">
    <link rel="stylesheet" href="/app.css">
    
    <title>Lovely Monkeys</title>
</head>

<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><a href="/">Lovely <i class="fas fa-globe-africa"></i> Monkey</a></div>
            <a href="/monkeys" class="item">Home</a>
            <a href="/monkeys/new" class="item">New Monkey</a>
        </div>
    </div>
