<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Semantic CSS, Font Awesome, CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
    integrity="sha256-QVBN0oT74UhpCtEo4Ko+k3sNo+ykJFBBtGduw13V9vw=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Sacramento|Baskervville&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/app.css">

    <title>Lovely Monkeys</title>
</head>


<body>
    

    <div class="landing">
        <h1>Welc<span class="landO">o</span>me To L<span class="landO">o</span>vely M<span class="landO">o</span>nkeys
        </h1>
        
        <div class="ui one column stackable center aligned page grid">
            <div class="column twelve wide">
                <a href="/monkeys" class="ui inverted big secondary button landBtn">Explore More!</a>
            </div>
        </div>


        <div class="slideImg slide1-1">
            <ul>
                <li>
                    <img src="https://cdn.pixabay.com/photo/2014/08/26/15/11/monkey-428032_960_720.jpg" alt="wasnt't found">
                </li>
                <li>
                    <img src="https://cdn.pixabay.com/photo/2016/11/23/01/20/animal-1851671_960_720.jpg" alt="wasn't ">
                </li>
                <li>
                    <img src="https://cdn.pixabay.com/photo/2018/10/05/17/20/monkey-3726401_960_720.jpg" alt="">
                </li>
                <li>
                    <img src="https://cdn.pixabay.com/photo/2017/03/10/13/19/chimpanzee-2132755_960_720.jpg" alt="">
                </li>
            </ul>
        </div>

        <div class="slideComment slide1-2">
            <ul>
                <li>
                    <p>Some monkeys live on the ground, while others</p>
                    <!-- live in trees. Different monkey species eat a variety of foods, such as
                    fruit, insects, flowers, leaves and reptiles -->
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptates dolorum quaerat? Sed, est dolorem.</p>
                </li>
                <li>
                    <p>oooooooooooooo ooooooooooooooooo</p>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptates dolorum quaerat? Sed, est dolorem.</p>
                </li>
                <li>
                    <p>geiginoeaogi iansegoieoa</p>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptates dolorum quaerat? Sed, est dolorem.</p>
                </li>
                <li>
                    <p>fmsap pasoapogj Lorem ipsum dolor sit amet</p>
                </li>
                <li>
                    <p>nooooooo onoooo onooooooooooooo</p>
                </li>
            </ul>
        </div>

        <!-- <div class="slideImg slide2-1">
            <ul>
                <li>
                    <img src="https://cdn.pixabay.com/photo/2014/08/26/15/11/monkey-428032_960_720.jpg" alt="wasnt't found">
                </li>
                <li>
                    <img src="https://cdn.pixabay.com/photo/2016/11/23/01/20/animal-1851671_960_720.jpg" alt="wasn't ">
                </li>
                <li>
                    <img src="https://cdn.pixabay.com/photo/2018/10/05/17/20/monkey-3726401_960_720.jpg" alt="">
                </li>
                <li>
                    <img src="https://cdn.pixabay.com/photo/2017/03/10/13/19/chimpanzee-2132755_960_720.jpg" alt="">
                </li>
            </ul>
        </div>
        
        <div class="slideComment slide2-2">
            <ul>
                <li>
                    <p>Some monkeys live on the ground, while others</p>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptates dolorum quaerat? Sed, est
                        dolorem.</p>
                </li>
                <li>
                    <p>oooooooooooooo ooooooooooooooooo</p>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptates dolorum quaerat? Sed, est
                        dolorem.</p>
                </li>
                <li>
                    <p>geiginoeaogi iansegoieoa</p>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptates dolorum quaerat? Sed, est
                        dolorem.</p>
                </li>
                <li>
                    <p>fmsap pasoapogj Lorem ipsum dolor sit amet</p>
                </li>
                <li>
                    <p>nooooooo onoooo onooooooooooooo</p>
                </li>
            </ul>
        </div> -->
    
    </div>


</body>

</html>

