<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Semantic CSS, Font Awesome, CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
    integrity="sha256-QVBN0oT74UhpCtEo4Ko+k3sNo+ykJFBBtGduw13V9vw=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Sacramento|Shadows+Into+Light&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/app.css">

    <title>Lovely Monkeys</title>
</head>


<body>
    

    <div class="landing">
        <h1>Welc<span class="landO">o</span>me To L<span class="landO">o</span>vely M<span class="landO">o</span>nkeys
        </h1>
        
        <div class="ui one column stackable center aligned page grid">
            <div class="column twelve wide">
                <a href="/monkeys" class="ui inverted big secondary button landBtn">Explore More!</a>
            </div>
        </div>


        <div class="slideImg">
            <ul>
                <li>
                    <img src="monkey3.jpg" alt="">
                </li>
                <li>

                </li>
            </ul>
        </div>
    
    </div>


</body>

</html>

