body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

i{
    padding: 0px 5px;
}

.nav-margin {
    margin-top: 6em !important;
}

.landing {
    background-image: url("landMonkey.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.landing h1 {
    font-family: 'Sacramento', cursive;
    margin-top: 1em;
    margin-left: 12%;
    letter-spacing: 2.5px;
    font-size: 3em;
    font-weight: 300;
}

.landO {
    color: rgb(94, 94, 94);
}

.divBtn {
    width: 100%;
}

.landBtn {
    margin: 30% auto !important;
}

#form-style {
    display: inline;
}

.slideImg li {
    position: absolute; 
    z-index: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    animation: imageAnimation 56s linear infinite;
}

.slide1-1 {
    position: absolute; 
    left: 2em;
    bottom: 11em;
}

.slide1-2 {
    position: absolute; 
    left: 12em;
    bottom: 10em;
    font-weight: 600;
    color: rgb(87, 84, 84);
}

.slideComment li {
    position: absolute;
    list-style: none;
    opacity: 0;
    animation: commentAnimation 56s linear infinite;
    text-align: left;
}

.slide2-1 {
    position: absolute; 
    top: 2.5em;
    right: 14em;
}

.slide2-2 {
    position: absolute;
    top: 3em;
    right: 30em;
    font-weight: 600;
    color: white;
}

.slide2-2 ul li p {
    text-align: right;
}

.slideComment li p {
    font-family: 'Baskervville', serif;
    font-size: 1.1em;
    line-height: 1.5;
    width: 250px;
}

.slideImg li img {
    height: 130px;
    width: 150px;
    border-radius: 50%;
}

.slideImg li:nth-child(2) {
    animation-delay: 14s;
}

.slideImg li:nth-child(3) {
    animation-delay: 28s;
}

.slideImg li:nth-child(4) {
    animation-delay: 42s;
}

/* comment animation*/
.slideComment li:nth-child(2) {
    animation-delay: 7s;
}

.slideComment li:nth-child(3) {
    animation-delay: 14s;
}

.slideComment li:nth-child(4) {
    animation-delay: 21s;
}

.slideComment li:nth-child(5) {
    animation-delay: 28s;
}

.slideComment li:nth-child(6) {
    animation-delay: 35s;
}

.slideComment li:nth-child(7) {
    animation-delay: 42s;
}

.slideComment li:nth-child(8) {
    animation-delay: 49s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    5% {
        opacity: 0.9;
        animation-timing-function: ease-out;
    }
    45% {
        opacity: 0.9;
    }
    50% {
        opacity: 0;
    }
}

@keyframes commentAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    2.5% {
        opacity: 0.9;
        animation-timing-function: ease-out;
    }
    15% {
        opacity: 0.9;
    }
    17.5% {
        opacity: 0;
    }
}

/* For older browsers, no-cssanimations comes from 'modernizr' package */
.no-cssanimations .slideImg li {
    opacity: 0.9;
}

@media only screen and (max-width: 750px) {
    .slide1-1 {
        left: -1em;
    }

    .slide1-2 {
        left: 9em;
    }
    .landBtn {
        font-size: 0.9em !important;
    }
}